image: node:20.12.2-alpine3.19

stages:
  - build

pages:
  stage: build
  script:
    - npm ci
    - npm run build
    - mv out public
  artifacts:
    paths:
      - public
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .next/cache/
  only:
    - main